
/* ==========================================================================
   Navigation
   ========================================================================== */

/* Imports */
@import "../fonts";



/*  SECTIONS  */
nav {
    clear: both;
    padding: 0;
    margin: 0;
    overflow: hidden;

    .main-navigation {
        div a.logo{
            float: left;
            background-image: url("../../img/pool_logo.png");
            width: 232px;
            height: 32px;
        }
        div a.mobile-toggle{
            float: right;
            //by default, display none for desktop view
            display: none;
            overflow: hidden;
            margin: 0px;
            padding: 0px;
            border-radius: 3px;
            cursor: pointer;
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            li{
                float: left;
            }
            li.button {
                float: right;
                border: 1px solid #216DDF;
                border-radius: 8px;
            }
            li a{
                display: block;
                color: #216DDF;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-family: "San Francisco Display Thin";
            }
            li a:hover:not('active'){
                background-color: #111;
            }

        }


    }

    /*.navbar {
        position: relative;
        min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
        margin-bottom: $navbar-margin-bottom;
        border: 1px solid transparent;

        // Prevent floats from breaking the navbar
        @include clearfix;

        @media (min-width: $grid-float-breakpoint) {
            border-radius: $navbar-border-radius;
        }

        ul {
            height: 104px;
            margin: 0px;
            list-style-type: none;
            padding: 0;
            overflow: hidden;
            border-bottom: 1.5px solid rgba(0,0,0, 0.3) ;
            .navigation_bar{
                background-color: #f1f2f2;
            }
        }
    }*/

}
